<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
        integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WriteUp</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="images/Nagarro_Logo.jpg" type="image/x-icon">
</head>

<body>
    <div class="container-fluid main_menu" id="uppernav">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto" id="uppernav">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="/index"><i class="fas fa-blog"></i> WriteUp</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a href="/edit/{{blogs._id}}"><button
                                        class="btn btn-outline-success my-2 my-sm-0">Edit</button></a>
                            </li>
                            <li class="nav-item">
                                <a href="/delete/{{blogs._id}}"><button class="btn btn-outline-success my-2 my-sm-0"
                                        onclick="return confirm('Are you sure to delete this record ?');">Delete</button></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="container-fluid main_menu">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="box-container">

                    <div class="box1-side">
                        <h1>{{blogs.title}}</h1>
                    </div>
                    <div class="box2-side">
                    </div>
                    <div class="box2-content content">

                    </div>
                    <div class="box1-content content">

                        <br>
                        <p>{{blogs.content}}</p>
                    </div>

                </div>
                <a href="/index"><button type="button" class="btn btn-primary" id="backdet">Back</button></a>
            </div>
        </div>
    </div>
    <br>
    <footer>
        <p>created for blog writers</p>
        <p>By Sanjogita Mishra</p>
    </footer>
</body>

</html>